<%= index_header_brand %> 

<% @cars.each do |car| %>
   <h2><%= link_to car.car_details, car_path(car) %></h2>
<% end %>


<% if @brand %>
    <%= link_to "About This Brand", brand_path(@brand) %>
    <% end %> 

<% if @brand %>
    <%= link_to "Create #{@brand.name} Car", new_brand_car_path(@brand) %>
    <% end %>

