<h1>Add A New Car:</h1>
<form method="POST" action='/cars'>
<input type="hidden" name=authenticity_token value= <%= form_authenticity_token %>">
<label for="car_year">Year: </label>
<input type="number" name="car[year]" id="car_year">
<label for="car_model">Model: </label>
<input type="text" name="car[model]" id="car_model">
<label for="car_color">Color: </label>
<input type="text" name="car[color]" id="car_color"><br>

<input type="submit" value="Add Car">

</form>